body{
  margin: 0;
  padding: 0;
}
button:focus{
  outline: none;
}
a{
  text-decoration: none;
  color: #404040;
}
a:visited{
  color: #404040;
}
span{
  color: rgb(236, 53, 53)
}
/* ---------------------------- Home Page Design ---------------------------*/
.homepage{
  background-image: url("images/homepage.jpg");
}
.hp_header{
  margin: 0;
  font-size: 70px;
  padding-top: 80px;
  text-align: center;
  color: #404040;
  font-family:sans-serif;
}
.hp_text{
  font-size: 25px;
  padding-bottom: 120px;
  text-align: center;
  color: #404040;
}
.hp_register{
  font-size: 30px;
  text-align: center;
  background-color: #990000;
  border-color: #990000;
  padding: 7px;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 34%;
}
.hp_login{
  font-size: 30px;
  text-align: center;
  background-color: #990000;
  border-color: #990000;
  padding: 7px;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 53%;
}
.hp_link{
  color: #d9d9d9;
}
.hp_link:visited{
  color: #d9d9d9;
}
/* ------------------------Register/Login Page Design -----------------------*/
input{
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}
input[type=radio]{
  margin: 20px;
}
pre{
  display: inline;
}
.back{
  font-size: 40px;
  color: #404040;
  position: absolute;
  top: 30px;
  left: 50px;
}
.admin{
  font-size: 30px;
  color: #404040;
  position: absolute;
  top: 35px;
  right: 40px;
  font-weight: bold;
}
.lp_header{
  font-size: 50px;
  color: #404040;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.lp_form{
  background-image: url("images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  padding-top: 60px;
}
.country{
  margin: 7px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  padding: 5px;
}
.submit{
  font-size: 30px;
  background-color: #990000;
  border-color: #990000;
  color: #d9d9d9;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 70px;
}
/* ---------------------------- Note Page Design ---------------------------*/
.np_design{
  background-image: url("images/note.jpg");
  text-align: center;
}
.np_header{
  font-size: 45px;
  text-align: center;
  margin-top: 0;
  color: #404040;
  padding-top: 30px;
  margin-bottom: 100px;
}
.add{
  font-size: 35px;
  color: #404040;
  padding: 0;
  position: absolute;
  top: 70px;
  left: 100px;
  background-image: url("images/note.jpg");
  border: 0;
  font-weight: bold;
}
.logout{
  font-size: 35px;
  color: #404040;
  padding: 0;
  position: absolute;
  top: 70px;
  right: 100px;
  background-image: url("images/note.jpg");
  border: 0;
  font-weight: bold;
}
.np_form{
  background-image: url("images/note.jpg");
  text-align: center;
  padding-top: 80px;
  font-size: 25px;
}
.textarea{
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  padding: 8px;
  font-family: sans-serif;
}
.add_button{
  font-size: 30px;
  background-color: #990000;
  border-color: #990000;
  color: #d9d9d9;
  padding: 7px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.ap_form{
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}
.new_note{
  font-size: 30px;
}
/* ---------------------------- Image Slide Design ---------------------------*/

.mySlides {
  display: none;
}
.slideshow-container {
  max-width: 250px;
  max-height: 250px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #990000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
